/* Panel Attributes */
.card {
    border: 2px solid;
    border-color: #1877c5;
    margin-bottom: 50px;
}

.card-header {
    background-color: #1877c5;
    color: #eeeeee;
    margin-bottom: 15px;
    padding-bottom: 5px;
}


/* Table Attributes */
th {
    font-weight: bold;
}


/* Input Attributes */
.inputDivs {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.inputTopText {
    font-weight: bold;
    margin: 0px;
}

.textBoxes {
    border: 1px solid #0000002c;
    border-radius: 5px;
    width: 100%;
}

#submitBtn {
    background-color: #1877c5;
    color: #eeeeee;
    padding: 10px;
    margin: 15px;
    border: 1px solid #0000002c;
    border-radius: 5px;
}

#submitBtn:hover {
     /* this one is for you cole ^__^ */
    cursor: pointer;
}
